:root{
    --div-primary-color: #0ae0e5;
    --div-secondary-color: #09abfc;
    --div-background-color: black;
    --div-background2-color: #ffffff;

    --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif;
}


.Master_Container{
    margin-top: 7rem;
    width: 90%; margin-left: 5%; margin-right: 5%;
}
.Main_Header{
    width: 50%;
    color: var(--div-primary-color);
    font-family: var(--div-contenttext-font);
}
.Main_Header h1{
    font-size: 4rem;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 1);
}
.Main_Header h2{
    font-size: 1rem;
    color: var(--div-background2-color);
}