.logoSplit{
    display: inline-flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
}
.flex_wrap_hor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logoSplit img{
    height: 100px;
}
.lottie_anime{
    height: 500px;
}
.Main_Header_MidSsn{
    height: 400px;
}

.logoSplitSmall{
    display: none;
    flex-direction: row;
}
