@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

:root {
    --div-primary-color: #0ae0e5;
    --div-secondary-color: #09abfc;
    --div-background-color: black;
    --div-background2-color: #ffffff;

    --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif;
}

.faq {
    margin: 10rem 2rem;
}

.header {
    text-align: center;
    color: var(--div-primary-color);
    font-size: 3rem;
    padding: 16px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
}

.faq-inner {
    margin: 2rem 5%;
}