
  body {
    background-color: #050801;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  nav {
    display: flex;
    height: 20vw;
    width: 100%;
  }
  
  header {
    width: 90vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  /*
  Font: ITC AVANT GARDE GOTHIC PRO
  
  Uses discretionary ligatures and stylistic sets for the typeface
  */
  
  .bold-AG {
    font-family: 'Comfortaa', cursive;

    font-weight: 900;
    font-style: normal;
  }
  .medium-AG {
    font-family: 'Comfortaa', cursive;

    font-weight: 500;
    font-style: normal;
  }
  .book-AG {
    font-family: 'Comfortaa', cursive;

    font-weight: 500;
    font-style: normal;
  }
  
  /*
  Title font, use <b> for bold weight, <i> for book weight, and unadorned <h1> for medium weight.
  */
  h1 {
    font-family: 'Ubuntu', sans-serif;

    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 7.85vw;
    line-height: .25vw;
    font-feature-settings: "ss01" 1, "ss03" 1, "kern" 1, "dlig" 1;
  }
  
  h2 {
    font-family: 'Ubuntu', sans-serif;
margin-top: 3rem;
    font-weight: 500;
    font-style: normal;
    font-size: 1.767vw;
    color: rgba(255, 255, 255, 0.943);
    line-height: .25vw
   
  }
  
  .neon-text {
    animation: flicker 4s linear infinite;
  }
  
  @keyframes flicker {
    0% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #4ff7fd,
      0 0 0.521vw #88ecf9;
    } 3.3% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #75fcf5,
      0 0 0.521vw #78fae9;
    } 3.67% {
      /*2*/
    color: white;
    text-shadow:
      0 0 0.3vw #fff,
      0 0 0.521vw #fff,
      0 0 1.094vw #fff,
      0 0 2.188vw #4ff7fd,
      0 0 4.271vw #4ff7fd
      0 0 4.792vw #4ff7fd
      0 0 5.313vw #4ff7fd
      0 0 7.865vw #4ff7fd
    } 10% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #4ff7fd,
        0 0 2vw #4ff7fd,
        0 0 2.5vw #4ff7fd,
        0 0 3vw #4ff7fd,
        0 0 4vw #4ff7fd;
    } 36.7% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #4ff7fd,
        0 0 2vw #4ff7fd,
        0 0 2.5vw #4ff7fd,
        0 0 3vw #4ff7fd,
        0 0 4vw #4ff7fd;
    } 37.3% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #4ff7fd,
      0 0 0.521vw #4ff7fd;
    } 38% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #4ff7fd,
        0 0 2vw ,#4ff7fd
        0 0 2.5vw #4ff7fd,
        0 0 3vw #4ff7fd,
        0 0 4vw #4ff7fd;
    } 40.67% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #4ff7fd,
      0 0 0.521vw #4ff7fd;
    } 41.33% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #4ff7fd,
        0 0 2vw #4ff7fd,
        0 0 2.5vw #4ff7fd,
        0 0 3vw #4ff7fd,
        0 0 4vw #4ff7fd;
    } 60% {
      /*2*/
    color: white;
    text-shadow:
      0 0 0.3vw #fff,
      0 0 0.521vw #fff,
      0 0 1.094vw #fff,
      0 0 2.188vw #4ff7fd,
      0 0 4.271vw #4ff7fd,
      0 0 4.792vw #4ff7fd,
      0 0 5.313vw #4ff7fd,
      0 0 7.865vw #4ff7fd;
    } 80% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #4ff7fd,
        0 0 2vw #4ff7fd,
        0 0 2.5vw #4ff7fd,
        0 0 3vw #4ff7fd,
        0 0 4vw #4ff7fd;
    } 93.3% {
      /*2*/
    color: white;
    text-shadow:
      0 0 0.3vw #fff,
      0 0 0.521vw #fff,
      0 0 1.094vw #fff,
      0 0 2.188vw #4ff7fd,
      0 0 4.271vw #4ff7fd,
      0 0 4.792vw #4ff7fd,
      0 0 5.313vw #4ff7fd,
      0 0 7.865vw #4ff7fd;
    } 93.5% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #4ff7fd,
        0 0 2vw #4ff7fd,
        0 0 2.5vw #4ff7fd,
        0 0 3vw #4ff7fd,
        0 0 4vw #4ff7fd;
    } 98% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #4ff7fd,
      0 0 0.521vw #4ff7fd;
    } 
  }
  
  /*bold weight*/
  b {
    font-weight: 700;
  }
  /*book weight NON ITALIC*/
  i {
    font-style: normal;
    font-weight: 100;
  }
  .register a{
    padding-top: 1rem;
    position: relative;
    font-size: 1.7rem;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    letter-spacing: 0.5rem;
    overflow: hidden;
    margin-right: 50px;
    
    justify-content: center;
    align-items: center;
    background: #050801;
    font-family: 'Ubuntu', sans-serif;
   
   
}
.register a:hover{
  font-weight: bolder;
  font-family: 'Comfortaa', cursive;
    background: #03e8f401;
    color: #dbf0f4;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.registera:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -10%;
    }
    50%,100%{
        left: 10%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -10%;
    }
    50%,100%{
        top: 10%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.20s;
}
@keyframes animate3{
    0%{
        right: -10%;
    }
    50%,100%{
        right: 10%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.3s;
}
@keyframes animate4{
    0%{
        bottom: -10%;
    }
    50%,100%{
        bottom: 10%;
    }
}

.container{
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feedback{
  text-align: center;
  color: #f7f9fa;
font-style: normal;
font-weight:bolder;
font-size: 2rem;
}
.feedback h2{
  margin: 5rem;
  font-size: 3rem;
  font-weight: bolder;
}
.qucontainer{
  box-sizing: border-box;
  width:20rem;
  box-shadow: #411a06;
background: #0a0908dd;
border: 1px solid #494746a4 ;
padding: 1rem;
cursor: pointer;

}
.qucontainer1{
  box-sizing: border-box;
  width:22rem;
  box-shadow: #411a06;
background: #010101ef;
border: 1px solid #494746a4 ;
padding: 1rem;
cursor: pointer;
}
.qucontainer2{
  box-sizing: border-box;
  width:24rem;
  box-shadow: #322e2c;
background: #030202ec;
border: 1px solid #494746a4 ;
padding: 1rem;
cursor: pointer;
}
.qucontainer2:hover{
  background-color: #54ddf8bb;
}
.qucontainer1:hover{
  background-color: #69e5f6ce;
}
.qucontainer:hover{
  background-color: #69e5f6ce;
  color: black;
}
.pe{
font-size:1rem;
color: rgba(228, 223, 244, 0.822);
padding: 0.45rem;
background: #2a2f3001;

}
.name{
  color: #042d3b;
  font-weight: bolder;
  text-align: left;
  font-size: 1.125rem;

}
.span{
  padding: 1.5rem;
}
.btn{
  padding: 3rem;
  place-content: center;
  text-align: center;
}
.button {
  background-color: #f3f7f3; /* Green */
  border-radius:0.5rem;
  
  border:none;
  color: rgb(4, 16, 54);
  font-weight: bold;
  padding:0.5rem;
  text-align: center;
  font-size:1.25rem;
  box-shadow: 3px 2px#8888886c;
  
}

.button:hover {
  background-color: #091618; /* Green */
  color: white;
  cursor: pointer;
}
.circular_image {
  float: left;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(4, 14, 13, 0);
  width:3rem;
}

.circular_image img{
  width: 100%;

}
.pr{
 
  font-size:1rem;
  color:#0bd6f6;
  margin-left: 3rem;
  padding-top: 0px;
  font-weight: lighter;
}

.footer{
  padding: 2rem;
  background-color: rgb(42, 46, 46);
  font-size: 1rem;
  color:rgb(249, 249, 250);
  font-weight: bolder;

  text-align: center;
  border-radius: 0.5rem;
}

.timer{
  font-family: 'Ubuntu',sans-serif;
  position: center;
  text-align: center;
  margin-top: 3rem;
  font-weight: lighter;
  color: rgba(244, 248, 249, 0.772);
  font-size: 1.4rem;
}

.launch-time{
  margin-bottom: 3rem;
  position: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  color: rgb(128, 229, 242);
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif


} 
footer {
  background-color: #060116c9;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Ubuntu',sans-serif;
  
}
footer .text {
  align-items: center;
  margin: auto;
  
}
footer .text h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.7rem;
  letter-spacing: 2px;
}
footer .text .fa-asterisk {
  font-size: 1.2rem;
 
  color: white;
}
footer .text p {
  line-height: 1rem;
}
footer .contact-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
}
footer .contact-container > div {
  flex: 1;
}
footer .contact-container h3 {
  font-size: 1.4rem;
  letter-spacing: 1.9px;
}
footer .social-media .links a {
  margin: 0 10px;
  font-size: 1.6rem;
  color: white;
}
footer .newsletter input {
  padding: 10px;
  width: 270px;

  background-color: rgb(247, 244, 244);
  border: none;
  margin-left: -15px;
}
footer .newsletter i {
  margin-left: -40px;
  vertical-align: middle;
  font-size: 1rem;
}
.copyright {
  padding-left: 40rem;
  padding-right: 40rem;
  background-color: #191926;
  display: flex;
}
.copyright .svg-up {
  top: 0;
  left: 50%;
  margin-left: -96px;
  margin-top: -50px;
  
}
.copyright .arrow-up {
  width: 40px;
  height: 30px;
  top: -45px;
  color: #fff;
  line-height: 1.9
}
.copyright ul {
  justify-content: center;
}
.copyright li {
  color: #f9f8f8;
  font-size: 0.9rem;
  display:flex;
}
.copyright li:not(:last-of-type):after {
  content: '•';
  margin: 10px;
}
.copyright .CTA {
  margin-top: 25px;
  display: flex;
}
.copyright .CTA li a {
  color: #f8f3f3;
  display: flex;
  
}
.copyright :hover{
  color: #0bd7f682;
}
.copyright .CTA :hover{
  color: #03e8f46e;
}
@media screen and (max-width: 807px){
  .h2 {
    font-family: 'Ubuntu', sans-serif;
margin-top: 3rem;
    font-weight: 500;
    font-style: normal;
    font-size: 5.767vw;
    color: rgba(255, 255, 255, 0.943);
    line-height: .25vw
   
  }
  .qucontainer{
    box-sizing: border-box;
    width:14rem;
    box-shadow: #411a06;
  background: #0a0908dd;
  border: 1px solid #494746a4 ;
  padding: 1rem;
  cursor: pointer;
  
  }
  .qucontainer1{
    box-sizing: border-box;
    width:16rem;
    box-shadow: #411a06;
  background: #010101ef;
  border: 1px solid #494746a4 ;
  padding: 1rem;
  cursor: pointer;
  }
  .qucontainer2{
    box-sizing: border-box;
    width:18rem;
    box-shadow: #322e2c;
  background: #030202ec;
  border: 1px solid #494746a4 ;
  padding: 1rem;
  cursor: pointer;
  }
}

@media screen and (max-width: 605px){
  .text-box h2{
      font-size: 1.9rem;
      font-weight: normal;
      margin-bottom: 20px;
      margin-left: 30px;
      text-decoration: underline;
      text-align: left;
      
  }
  .qucontainer{
    box-sizing: border-box;
    width:10rem;
    box-shadow: #411a06;
  background: #0a0908dd;
  border: 1px solid #494746a4 ;
  padding: 1rem;
  cursor: pointer;
  
  }
  .qucontainer1{
    box-sizing: border-box;
    width:12rem;
    box-shadow: #411a06;
  background: #010101ef;
  border: 1px solid #494746a4 ;
  padding: 1rem;
  cursor: pointer;
  }
  .qucontainer2{
    box-sizing: border-box;
    width:14rem;
    box-shadow: #322e2c;
  background: #030202ec;
  border: 1px solid #494746a4 ;
  padding: 1rem;
  cursor: pointer;
  }

}

