:root {
    --primary: #0ae0e5;
    --secondary: #09abfc;
    --dark: #000000;
    --light: #ffffff;

    --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


.card {
    margin: 40px;
    width: 17em;
    height: 17em;
    display: flex;
    justify-content: center;
}

@media (max-width: 1270px) {
    .card {
        margin: 40px 0;
    }
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}


.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;

}

.card__face--front h2 {
    font-family: var(--div-headingtext-font);
    color: #FFF;
    font-size: 32px;
}

.btn-14 {
    position: relative;
    color: white;
    border: none;
    z-index: 2;
    background-color: #000000;
    padding: 8px;
    margin: 2px;
    cursor: pointer;
}

.btn-14:before,
.btn-14:after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    border: 1px solid;

    z-index: -1;
    transition: all 0.3s ease;
}

.btn-14:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
}

.btn-14:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.btn-14:hover:before,
.btn-14:hover:after {
    border-color: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px var(--primary), 0 0 5px var(--primary) inset;
}


.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
    position: relative;
    height: 0%;
    padding: 20px 30px 40px;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    /* border-radius: 0px 0px 50% 0px; */
}

.pp {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
}

.card__header h2 {
    font-family: var(--div-headingtext-font);
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 30px;
}

.card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card__body p {
    font-family: var(--div-contenttext-font);
    color: var(--dark);
    font-size: 14px;
    line-height: 1.4;
}