@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

:root {
    --div-primary-color: #0ae0e5;
    --div-secondary-color: #09abfc;
    --div-background-color: black;
    --div-background2-color: #ffffff;

    --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif;
}


.eventStart {
    margin-top: 5rem;
}

.events {
    display: grid;
    justify-items: center;
    padding: 1% 6%;
    /* grid-template-columns: 4fr 4fr 4fr; */
    /* Comment out after event cards are added */
}

.event-heading {
    text-align: center;
    color: #0ae0e5;
    font-size: 3rem;
    padding: 16px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
}

/* Comment out afte r event cards are added */
/* 
@media (max-width: 1000px) {
    .events {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .events {
        grid-template-columns: repeat(1, 1fr);
    }
} */

.comingSoon {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    color: white;
}