:root{
    --div-primary-color: #0ae0e5;
    --div-secondary-color: #0aacfc;
    --div-background-color: black;
    --div-background2-color: #ffffff;

    --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif;
}
:root {
    --div-primary-color: #0ae0e5;
    --div-secondary-color: #09abfc;
    --div-background-color: black;
    --div-background2-color: #ffffff;

    /* --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif; */
}


.eventStart {
    /* margin-top: 5rem; */

}

.events {
    display: grid;
    justify-items: center;
    
    /* padding: 1% 6%; */
    /* grid-template-columns: 4fr 4fr 4fr; */
    /* Comment out after event cards are added */
}

.event-heading{
    font-family: var(--div-headingtext-font);
    text-align: center;
    color: var(--div-primary-color);
    font-size: 3rem;
    letter-spacing: 5;
    /* padding: 16px; */
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
}

/* Comment out afte r event cards are added */
/* 
@media (max-width: 1000px) {
    .events {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .events {
        grid-template-columns: repeat(1, 1fr);
    }
} */

.comingSoon {

    font-weight: bolder;
    color: white;
}

.event-heading{
    font-size: 40px;
}

h1{
    /* margin-top: 5rem; */
    font-size: 0.6rem;
}
.comingSoon{
    margin-top: 30px;
}
.eventStart{
    margin-top: 60px;
}
.events{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}