:root{
    --div-primary-color: #0ae0e5;
    --div-secondary-color: #0aacfc;
    --div-background-color: black;
    --div-background2-color: #ffffff;

    --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif;
}

.Ul li{
    font-family: var(--div-headingtext-font);
}