:root{
    --div-primary-color: #0ae0e5;
    --div-secondary-color: #0aacfc;
    --div-background-color: black;
    --div-background2-color: #ffffff;

    --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif;
}

.HamburgerIcon{
    display: none;
}
.Hamburger_Bar{
    content: '';
    height: 7px; width: 60px; background-color: var(--div-primary-color); border-radius: 7px;
}

@media(max-width: 600px){
    .HamburgerIcon{
        display: flex; flex-direction: column; gap: 0.5rem;
        position: absolute; top: 2rem; right: 0.5rem;
    }
}