:root{
  --div-primary-color: #0ae0e5;
  --div-secondary-color: #0aacfc;
  --div-background-color: black;
  --div-background2-color: #ffffff;

  --div-headingtext-font: 'Orbitron', sans-serif;
  --div-contenttext-font: 'Gugi', sans-serif;
}
.vertical-timeline-element-title{
  font-family: var(--div-contenttext-font);
}

  .vertical-timeline--two-columns
  .vertical-timeline-element.vertical-timeline-element--right
  .vertical-timeline-element-content
  .vertical-timeline-element-date,
.vertical-timeline--two-columns
  .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left)
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  color: var(--div-primary-color);
  font-weight: 400;
}



.timeline-heading{
  font-family: var(--div-contenttext-font);
    text-align: center;
    color: #0ae0e5;
    font-size: 3vw;
    padding:16px;
}
.sponsor-heading{
 font-family: var(--div-headingtext-font);
}