@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --div-primary-color: #0ae0e5;
    --div-secondary-color: #09abfc;
    --div-background-color: black;
    --div-background2-color: #ffffff;

    --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--div-background-color);
}

.Navigation_Bar{
    background-color: var(--div-background-color); width: 100%;
    position: absolute; top: 10px; right: 70px;
    display: inline-flex;
}

.Navigation_Bar_Left{
   margin-left: 2rem;
}
.Navigation_Bar_Left img{
    height: 60px; width: 180px;
}

.Navigation_Bar_Right{
    position: absolute; right: 0px;
    display: inline-flex;
    gap: 2rem;
    padding-top: 15px;
}

.Navigation_Bar_Right p{
    font-family: var(--div-headingtext-font);
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 400ms ease;
    color: var(--div-background2-color);
   
}

.Navigation_Bar p:hover{
    transform: scale(1.1);
    color: aqua;
}

