@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
html{
  scroll-behavior: smooth;
}
:root{
    --div-primary-color: #0ae0e5;
    --div-secondary-color: #0aacfc;
    --div-background-color: black;
    --div-background2-color: #ffffff;

    --div-headingtext-font: 'Orbitron', sans-serif;
    --div-contenttext-font: 'Gugi', sans-serif;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
  /* background: radial-gradient(circle, rgba(21,21,22,1) 0%, rgba(9,10,29,1) 73%, rgba(28,28,46,1) 83%, rgba(50,52,52,1) 100%); */
  background-color: black;
}

.Navigation_Bar{
    background-color: var(--div-background2-color); width: 100%;
    position: absolute; top: 0px; 
    display: inline-flex;
}
.Navigation_Bar_Left{
  margin-left: 0px; position: absolute; margin-top: 0.4rem;
}
.Navigation_Bar_Left img{
    height: 90px; width: 180px; 
}

.Navigation_Bar_Right{
    position: absolute; right: 3rem;
    display: inline-flex;
    gap: 2rem;
    padding-top: 2rem;
}
.Navigation_Bar_Right p{
    font-family: var(--div-headingtext-font);
    font-size: 2rem;
    font-weight: 600;
    transition: all 400ms ease;
    color: var(--div-background2-color);  
}
.Navigation_Bar p:hover{
    transform: scale(1.1);
    color: var(--div-primary-color);
}


@media (max-width: 1650px){
  .Navigation_Bar_Right{
    right: 2rem;
  }
}
@media (max-width: 1550px){
  .Navigation_Bar_Left img{
    height: 75px; width: 150px;
  }
  .Navigation_Bar_Right p{
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px){
  .Navigation_Bar_Left img{
    height: 60px; width: 130px;
  }
  .Navigation_Bar_Right p{
    font-size: 1rem;
  }
}

@media (max-width: 700px){
  .Navigation_Bar_Left img{
    opacity: 0;
  }
  .Navigation_Bar_Right{
    position: absolute; right: 0; top: 0;
    width: 100%; justify-content: center;
    gap: 2.2rem; margin-top: 0rem;
  }
  .Navigation_Bar_Right p{
    font-size: 1.3rem;
  }
}
@media (max-width: 600px){
  .Navigation_Bar_Left img{
    opacity: 1; height: 80px; width: 160px;
  }
  .Navigation_Bar_Right{
     display: none;
  }
}

/* 
.Footer{
  display: flex; flex-direction: column; gap: 1rem;
    position: absolute; left:0; bottom: 0; right: 0;
    width: 100%; height: 300px;
}
.Footer_Main{
   display: grid;
   gap: 50px;
   grid-template-columns: repeat(4, 1fr);
}
.footer-header{
  font-family: var(--div-headingtext-font);
}
.Footer_Column_1 img{
  height: 100px; width: 250px; 
}
.Footer_Column_1_Description{
  font-family: var(--div-contenttext-font);
  color: var(--div-background2-color);
  padding-left: 20px;
  font-size: 0.8rem;
}
.Footer_Column_1_Button{
    margin-left: 60px;
    font-family: var(--div-headingtext-font);
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
    position: relative;
    top: 30px;
    background-color: transparent;
    border: 1px solid #0ae0e5;
    color: #0ae0e5;
    text-transform: uppercase;
    border-radius: 10px;
}
.Footer_Column_2 i{
  color: var(--div-primary-color);
}
.Footer_Column_2 span{
  font-family: var(--div-contenttext-font);
  color: var(--div-background2-color);
}
.Footer_Column_3 .link-des{
  font-family: var(--div-contenttext-font);
}
.Footer_Column_3 .link-des a:hover{
  color: var(--div-secondary-color);
}
.Footer_Column_4 a:hover{
  background-color: var(--div-secondary-color);
}
.Footer_Column_2, .Footer_Column_3, .Footer_Column_4{
  padding-top: 30px;
}
.border-shape {
  background: var(--div-primary-color) none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 3px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
}
.border-shape::before {
  background: var(--div-primary-color) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 100px;
}
.border-shape::after {
  background: var(--div-primary-color) 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  margin: 0 auto;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 1px;
  width: 100px;
}
.Footer_Bottom_Content a {
  font-family: var(--div-contenttext-font);
  margin: 0 20px;
  color: var(--div-primary-color);
  transition: 0.3s ease;
}
.Footer_Bottom_Content a:hover {
  color: var(--div-secondary-color);
}
.Footer_Bottom_Content section {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: Center;
} */


.newsletter-des i{
   color: var(--div-primary-color);
}
.office-des i{
  color: var(--div-primary-color);
}
.office-des span{
  font-family: var(--div-contenttext-font);
}
.Column_1_Des{
  font-family: var(--div-contenttext-font);
}
.link-des{
  font-family: var(--div-contenttext-font);
}
.footer-header{
  font-family: var(--div-headingtext-font);
  line-height: 25px;
}




.Sponsor_Announcement{
  display: flex; flex-direction: column; gap: 1rem;
  margin-top: 3rem; margin-bottom: 2rem;
}

.logos_wrap
{
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.logo_sponsi{
  height: 120px;
  margin: 30px;
}